<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionInput" />
<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionOutput" />

<div>
  <h1>Transaction</h1>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <template v-if="transaction != null">
      <p>{{ transaction.txid }}</p>
  
      <h2>Information</h2>
      <color-field label="Weight:"
        :color="picker.transactionWeight()">
        {{ transaction.weight }}
      </color-field>
      <color-field label="Size:"
        :color="picker.transactionTotalSize()">
        {{ transaction.size }}
      </color-field>
  
      <h2>In blockchain</h2>
      <color-field label="Confirmed:"
        :color="picker.transactionConfirmedState()">
        {{ transaction.status.confirmed }}
      </color-field>
      
      <template v-if="transaction.status.confirmed">
        <color-field label="Block hash:"
          :color="picker.blockHash()">
          <block-link :hash="transaction.status.blockHash">{{ transaction.status.blockHash }}</block-link>
        </color-field>
        <color-field label="Date/time:"
          :color="picker.transactionTime()">
          {{ transaction.status.blockTime }}
        </color-field>
        <color-field label="Confirmed in:">
          {{ transaction.status.blockHeight }}
        </color-field>
        <color-field label="Confirmations:"
          v-if="blockContext.tip != null"
          :color="picker.transactionConfirmations()">
          {{ blockContext.tip.height - transaction.status.blockHeight }}
        </color-field>
      </template>
  
      <h2>Inputs:</h2>
      <template v-for="(TransactionInput vin, index) in transaction.vin">
        <h3>input #{{ index }}</h3>
        <color-field label="Previous tx:"
          :color="picker.transactionHash()">
          {{ vin.txid }}
        </color-field>
        <color-field label="Previous tx output index:"
          :color="picker.transactionInputIndex()">
          {{ vin.vout }}
        </color-field>
        <color-field label="Is coinbase transaction:">
          {{ vin.isCoinbase }}
        </color-field>
        <color-field label="Sequence:"
          :color="picker.transactionInputSequence()">
          {{ vin.sequence }}
        </color-field>
        
        <template v-if="vin.scriptsig.isEmpty()">
          <h4>Segregated witness information</h4>
          <color-field label="# witness items:">
            {{ vin.witness.length }}
          </color-field>
          
          <template v-for="(String witness, index) in vin.witness">
            <color-field :label='"Witness " + index + ":"'
              :color="picker.witnessPushData()">
              {{ formatPayload(witness) }}
            </color-field>
          </template>
        </template>
        <template v-else>
          <color-field label="Scriptsig:">
            {{ formatPayload(vin.scriptsig) }}
          </color-field>
        </template>
      </template>
  
      <h2>Outputs:</h2>
      <template v-for="(TransactionOutput vout, index) in transaction.vout">
        <h3>output #{{ index }}</h3>
        <color-field label="ScriptPubKey:"
          :color="picker.transactionScriptPubKeyPushData()">
          {{ vout.scriptpubkey }}
        </color-field>
        <color-field label="Amount:"
          :color="picker.transactionOutputAmount()">
          {{ vout.value }}
        </color-field>
        <color-field label="Type:">
          {{ vout.scriptpubkeyType }}
        </color-field>
        <color-field label="Address"
          :color="picker.address()">
          <address-link :address="vout.scriptpubkeyAddress">{{ vout.scriptpubkeyAddress }}</address-link>
        </color-field>
      </template>
  
      <h2>Miscellaneous information:</h2>
      <color-field label="Version:">
        {{ transaction.version }}
      </color-field>
      <color-field label="Locktime:">
        {{ transaction.locktime }}
      </color-field>
    </template>
    <template v-else-if="context.transactionLoading">
      <p>Transaction information is being loaded..</p>
    </template>
    
    <template v-if="raw != null">
      <h2>Raw transaction</h2>
      <hex-viewer
        :hex="raw"
        :interpreter="txInterpreter">
      </hex-viewer>
    </template>
    <template v-else-if="context.rawLoading">
      <p>Raw transaction is being loaded..</p>
    </template>
  </template>
</div>

<style scoped lang="scss">
</style>
