<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionInput" />
<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionOutput" />

<div>
  <h1>Transaction</h1>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  
  <template v-else>
    <loading-heading level="2"
      :loading="context.transactionLoading"
      text="Transaction hash">
    </loading-heading>
    <template v-if="transaction != null">
      <hex-viewer
        :hex="transaction.txid"
        :interpreter="transactionInterpreter">
      </hex-viewer>
  
      <h2>Information</h2>
      <labeled-value label="Weight:">
        <color-field
          :value="transaction.weight"
          :color="picker.transactionWeight()">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Size:">
        <color-field
          :value="transaction.size"
          :color="picker.transactionTotalSize()">
        </color-field>
      </labeled-value>
  
      <h2>In blockchain</h2>
      <labeled-value label="Confirmed:">
        <color-field
          :value="transaction.status.confirmed"
          :color="picker.transactionConfirmedState()">
        </color-field>
      </labeled-value>
      
      <template v-if="transaction.status.confirmed">
        <labeled-value label="Block hash:">
          <block-link
            :hash="transaction.status.blockHash">
            <color-field
              :value="transaction.status.blockHash"
              :color="picker.blockHash()">
            </color-field>
          </block-link>
        </labeled-value>
        
        <labeled-value label="Date/time:">
          <color-field
            :value="formatTimestamp(transaction.status.blockTime)"
            :color="picker.transactionTime()">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Confirmed in:">
          <color-field :value="transaction.status.blockHeight">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Confirmations:"
          v-if="blockContext.tip != null">
          <color-field
            :value="blockContext.tip.height - transaction.status.blockHeight"
            :color="picker.transactionConfirmations()">
          </color-field>
        </labeled-value>
      </template>
  
      <h2>Inputs:</h2>
      <template v-for="(TransactionInput vin, index) in transaction.vin">
        <h3>input #{{ index }}</h3>
        
        <labeled-value label="Previous tx:"
          v-if="blockContext.tip != null">
          <transaction-link :hash="vin.txid">
            <color-field
              :value="vin.txid"
              :color="picker.transactionHash()">
            </color-field>
          </transaction-link>
        </labeled-value>
        
        <labeled-value label="Previous tx output index:">
          <color-field
            :value="vin.vout"
            :color="picker.transactionInputIndex()">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Is coinbase transaction:">
          <color-field :value="vin.isCoinbase">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Sequence:">
          <color-field
            :color="picker.transactionInputSequence()"
            :value="vin.sequence">
          </color-field>
        </labeled-value>
        
        <template v-if="vin.scriptsig.isEmpty()">
          <h4>Segregated witness information</h4>
          <labeled-value label="# witness items:">
            <color-field :value="vin.witness.length">
            </color-field>
          </labeled-value>
          
          <template v-for="(String witness, index) in vin.witness">
            <labeled-value :label='"Witness " + index + ":"'>
              <color-field
                :value="formatPayload(witness)"
                :color="picker.witnessPushData()">
              </color-field>
            </labeled-value>
          </template>
        </template>
        <template v-else>
          <labeled-value label="Scriptsig:">
            <color-field
              :value="formatPayload(vin.scriptsig)"
              :color="picker.transactionScriptSigPushData()">
            </color-field>
          </labeled-value>
        </template>
      </template>
  
      <h2>Outputs:</h2>
      <template v-for="(TransactionOutput vout, index) in transaction.vout">
        <h3>output #{{ index }}</h3>
        <labeled-value label="ScriptPubKey:">
          <color-field
            :value="formatPayload(vout.scriptpubkey)"
            :color="picker.transactionScriptPubKeyPushData()">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Amount:">
          <color-field
            :color="picker.transactionOutputAmount()"
            :value="vout.value">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Type:">
          <color-field :value="vout.scriptpubkeyType">
          </color-field>
        </labeled-value>
        
        <labeled-value label="Address">
          <address-link :address="vout.scriptpubkeyAddress">
            <color-field
              :value="vout.scriptpubkeyAddress"
              :color="picker.address()">
            </color-field>
          </address-link>
        </labeled-value>
      </template>
  
      <h2>Miscellaneous information:</h2>
      
      <labeled-value label="Version:">
        <color-field :value="transaction.version">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Locktime:">
        <color-field :value="transaction.locktime">
        </color-field>
      </labeled-value>
    </template>
    
    <loading-heading level="2"
      :loading="context.rawLoading"
      text="Raw transaction">
    </loading-heading>
    <template v-if="raw != null">
      <hex-viewer
        :hex="raw"
        :interpreter="txInterpreter">
      </hex-viewer>
    </template>
  </template>
</div>

<style scoped lang="scss">
</style>
