<div class="root">
  <div class="main">
    <div class="header">
      <a @click.prevent="goHome()"
        href="/landing"
        class="inert">
        <h1>Bitcoin explorer</h1>
      </a>
      
      <div>
        <select v-model="source" class="list">
          <option value="blockstream">Blockstream Electr instance</option>
          <option value="local">Yogh Electr instance (not yet available)</option>
        </select>
      </div>
    </div>
  
    <div class="content">
      <keep-alive>
        <slot></slot>
      </keep-alive>
    </div>
  
    <app-notification></app-notification>
  
    <div class="footer">
      <i>
        <span>Application build number:</span>
        <a :href='"https://github.com/yogh-io/bitcoin-yogh-explorer/commit/" + cfg.getBuildNumber()'> {{ cfg.getBuildNumber() }}</a>
      </i>
    </div>
  </div>
</div>

<style scoped lang="scss">
.root {
  display: flex;
  justify-content: center;
  background: #ddd;
  min-height: 100vh;
  min-width: calc(32*24px + 3*15px + 2em);
}

.main {
  width: calc(32*24px + 3*15px + 2em);
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 20px;
  padding: 1em;
  
  .inert {
    color: initial;
    text-decoration: none;
  }
  
  .list {
    padding: 10px;
  }
}


.content {
  padding: 1em;
  flex-grow: 1;
  background: #fff;
}

.footer {
  margin-top: 20px;
  padding: 1em;
  background: #fff;
}
</style>
