<div class="main">
  <h1 @click="goHome()">Home</h1>

  <div>
    <p>Data source</p>
    <select v-model="source">
      <option value="blockstream">Blockstream Electr instance</option>
      <option value="local">Yogh Electr instance (offline)</option>
    </select>
  </div>

  <keep-alive>
    <slot></slot>
  </keep-alive>

  <app-notification :eventBus="eventBus"></app-notification>

  <hr />
  <p>
    <i>
      <span>Application build number:</span>
      <a :href='"https://github.com/yogh-io/bitcoin-yogh-explorer/commit/" + cfg.getBuildNumber()'> {{ cfg.getBuildNumber() }}</a>
    </i>
  </p>
</div>

<style scoped lang="scss">
</style>
