# Compiled source #
*.class
*.jar
*.war
dependency-reduced-pom.xml

# Eclipse files #
/.metadata/
.settings/
.project
.classpath
.externalToolBuilders
.factorypath

# Build folders #
target/
bin/
war/
buildNumber.properties

# Deployment
redeploy.sh
