<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.UtxoInformation" />

<div>
  <h1>Address</h1>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <template v-if="context.addressInformation != null">
      <labeled-value label="Address:">
        <color-field
          :value="context.addressInformation.address"
          :color="picker.address()">
        </color-field>
      </labeled-value>
      
      <h2>Mempool stats</h2>
      <template v-if="context.addressInformation.mempoolStats.txCount > 0">
        <labeled-value label="Confirmed transactions:">
          {{ context.addressInformation.mempoolStats.txCount }}
        </labeled-value>
        <labeled-value label="Tx outputs incoming:">
          {{ context.addressInformation.mempoolStats.fundedTxoCount }}
        </labeled-value>
        <labeled-value label="Incoming amount sum:">
          {{ context.addressInformation.mempoolStats.fundedTxoSum }}
        </labeled-value>
        <labeled-value label="Tx outputs outgoing">
          {{ context.addressInformation.mempoolStats.spentTxoCount }}
        </labeled-value>
        <labeled-value label="Outgoing amount sum:">
          {{ context.addressInformation.mempoolStats.spentTxoSum }}
        </labeled-value>
      </template>
      <template v-else>
        <p>This address relates to no known unconfirmed (mempool) transactions.</p>
      </template>
      
      <h2>Chain stats</h2>
      <template v-if="context.addressInformation.chainStats.txCount > 0">
        <labeled-value label="Confirmed transactions:">
          {{ context.addressInformation.chainStats.txCount }}
        </labeled-value>
        <labeled-value label="Tx outputs incoming:">
          {{ context.addressInformation.chainStats.fundedTxoCount }}
        </labeled-value>
        <labeled-value label="Incoming amount sum:">
          {{ context.addressInformation.chainStats.fundedTxoSum }}
        </labeled-value>
        <labeled-value label="Tx outputs outgoing">
          {{ context.addressInformation.chainStats.spentTxoCount }}
        </labeled-value>
        <labeled-value label="Outgoing amount sum:">
          {{ context.addressInformation.chainStats.spentTxoSum }}
        </labeled-value>
      </template>
      <template v-else>
        <p>This address pertains to no confirmed transaction outputs.</p>
      </template>
    </template>
    <template v-else="context.addressLoading">
      <p>Address information is being loaded..</p>
    </template>
    
    <h2>Unspent transaction outputs</h2>
    <template v-if="context.utxos != null">
      <template v-if="context.utxos.length > 0">
        <template v-for="(UtxoInformation utxo, index) in context.utxos">
          <h3>UTXO #{{ index }}</h3>
          <labeled-value label="Tx ID:">
            <transaction-link :hash="utxo.txid">{{ utxo.txid }}</transaction-link>
          </labeled-value>
          <labeled-value label="Tx out:">
            {{ utxo.vout }}
          </labeled-value>
          <labeled-value label="Value:">
            {{ utxo.value }}
          </labeled-value>
          
          <labeled-value v-if="utxo.status.confirmed" label="Status:">
            <block-link :hash="utxo.status.blockHash">
              <color-field
                :value="utxo.status.confirmed"
                :color="picker.transactionConfirmedState()">
              </color-field>
            </block-link>
          </labeled-value>
          <labeled-value v-else label="Status:">
            <color-field
              :value="utxo.status.confirmed"
              :color="picker.transactionConfirmedState()">
            </color-field>
          </labeled-value>
        </template>
      </template>
      <template v-else>
        <p>All transaction outputs have been spent.</p>
      </template>
    </template>
    <template v-else="context.utxosLoading">
      <p>UTXO information is being loaded..</p>
    </template>
  </template>
</div>

<style scoped lang="scss">
</style>
