<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.UtxoInformation" />

<div>
  <loading-heading level="1"
    :loading="context.addressLoading"
    text="Address">
  </loading-heading>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <template v-if="context.addressInformation != null">
      <labeled-value label="Address">
        <color-field
          :value="context.addressInformation.address"
          :color="picker.address()">
        </color-field>
      </labeled-value>
      
      <h2>Mempool stats</h2>
      <template v-if="context.addressInformation.mempoolStats.txCount > 0">
        <labeled-value label="Unconfirmed transactions">
          <color-field>
            {{ context.addressInformation.mempoolStats.txCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Tx outputs incoming">
          <color-field>
            {{ context.addressInformation.mempoolStats.fundedTxoCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Incoming amount sum">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit(context.addressInformation.mempoolStats.fundedTxoSum) }}
          </color-field>
        </labeled-value>
        <labeled-value label="Tx outputs outgoing">
          <color-field>
            {{ context.addressInformation.mempoolStats.spentTxoCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Outgoing amount sum">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit(context.addressInformation.mempoolStats.spentTxoSum) }}
          </color-field>
        </labeled-value>
      </template>
      <template v-else>
        <p>No known unconfirmed (mempool) transactions pertain to this address.</p>
      </template>
      
      <h2>Chain stats</h2>
      <template v-if="context.addressInformation.chainStats.txCount > 0">
        <labeled-value label="Confirmed transactions">
          <color-field>
            {{ context.addressInformation.chainStats.txCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Tx outputs incoming">
          <color-field>
            {{ context.addressInformation.chainStats.fundedTxoCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Incoming amount sum">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit(context.addressInformation.chainStats.fundedTxoSum) }}
          </color-field>
        </labeled-value>
        <labeled-value label="Tx outputs outgoing">
          <color-field>
            {{ context.addressInformation.chainStats.spentTxoCount }}
          </color-field>
        </labeled-value>
        <labeled-value label="Outgoing amount sum">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit(context.addressInformation.chainStats.spentTxoSum) }}
          </color-field>
        </labeled-value>
      </template>
      <template v-else>
        <p>This address pertains to no confirmed transaction outputs.</p>
      </template>
      
      <h2>Balances</h2>
      <labeled-value label="Confirmed balance">
        <color-field
          :color="picker.transactionOutputAmount()">
          {{ formatAmountWithUnit(context.addressInformation.chainStats.fundedTxoSum - context.addressInformation.chainStats.spentTxoSum) }}
        </color-field>
      </labeled-value>
      
      <template v-if="context.addressInformation.mempoolStats.fundedTxoSum != 0 || context.addressInformation.mempoolStats.spentTxoSum != 0">
        <labeled-value label="Unconfirmed mutation">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit(context.addressInformation.mempoolStats.fundedTxoSum - context.addressInformation.mempoolStats.spentTxoSum) }}
          </color-field>
        </labeled-value>
        <labeled-value label="Unconfirmed balance">
          <color-field
            :color="picker.transactionOutputAmount()">
            {{ formatAmountWithUnit((context.addressInformation.chainStats.fundedTxoSum - context.addressInformation.chainStats.spentTxoSum) 
            + (context.addressInformation.mempoolStats.fundedTxoSum - context.addressInformation.mempoolStats.spentTxoSum)) }}
          </color-field>
        </labeled-value>
      </template>
    </template>
    
    <loading-heading level="2"
      :loading="context.utxosLoading"
      text="Unspent transaction outputs">
    </loading-heading>
    <template v-if="context.utxos != null">
      <template v-if="context.utxos.length > 0">
        <template v-for="(UtxoInformation utxo, index) in context.utxos">
          <h3>UTXO #{{ index }}</h3>
          <labeled-value label="Tx ID">
            <transaction-link :hash="utxo.txid">
              <color-field :color="picker.transactionHash()">{{ utxo.txid }}</color-field>
            </transaction-link>
          </labeled-value>
          <labeled-value label="Tx out">
            <color-field :color="picker.transactionInputIndex()">{{ utxo.vout }}</color-field>
          </labeled-value>
          <labeled-value label="Value">
            <color-field :color="picker.transactionOutputAmount()">{{ formatAmountWithUnit(utxo.value) }}</color-field>
          </labeled-value>
          
          <labeled-value v-if="utxo.status.confirmed" label="Confirmed">
            <block-link :hash="utxo.status.blockHash">
              <color-field
                :value="utxo.status.confirmed"
                :color="picker.transactionConfirmedState()">
              </color-field>
            </block-link>
          </labeled-value>
          <labeled-value v-else label="Confirmed">
            <color-field
              :value="utxo.status.confirmed"
              :color="picker.transactionConfirmedState()">
            </color-field>
          </labeled-value>
        </template>
      </template>
      <template v-else>
        <p>All transaction outputs have been spent.</p>
      </template>
    </template>
  </template>
</div>

<style scoped lang="scss">
</style>
