<div>
  <h1>Block</h1>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <loading-heading level="2"
      :loading="context.blockLoading"
      text="Block hash">
    </loading-heading>
    <template v-if="block != null">
      <hex-viewer :hex="block.id"
        :interpreter="blockHashInterpreter">
      </hex-viewer>
      
      <hex-viewer :hex="formatDifficultyTarget(block.bits)"
        :interpreter="difficultyTargetInterpreter">
      </hex-viewer>
      
      <loading-heading level="2"
        :loading="context.txidsLoading"
        text="Coinbase transaction">
      </loading-heading>
      <template v-if="context.txids != null">
        <transaction-link :hash="txids[0]">
          <hex-viewer
            :hex="txids[0]"
            :interpreter="transactionHashInterpreter">
          </hex-viewer>
        </transaction-link>
      </template>
      
      <loading-heading level="2"
        :loading="context.blockLoading"
        text="Block information">
      </loading-heading>
      <labeled-value label="Block height">
        <color-field
          :color="picker.blockHeight()"
          :value="block.height">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Block depth">
        <color-field
          v-if="context.tip != null"
          :color="picker.blockConfirmations()"
          :value="context.tip.height - block.height">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Difficulty">
        <color-field
          :color="picker.blockBits()"
          :value="block.difficulty">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Block size (KB)">
        <color-field
          label="Size"
          :color="picker.blockSize()"
          :value="formatSizeInKb(block.size)">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Weight (KWU)">
        <color-field
          :color="picker.blockWeight()"
          :value="formatSizeInKb(block.weight)">
        </color-field>
      </labeled-value>

      <labeled-value label="# transactions">
        <color-field
          :color="picker.blockNumTransactions()"
          :value="block.txCount">
        </color-field>
      </labeled-value>
      
      <loading-heading level="2"
        :loading="context.blockLoading"
        text="Block header">
      </loading-heading>
      <labeled-value label="Version">
        <color-field
          :value="block.version"
          :color="picker.blockVersion()">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Previous block">
        <block-link :hash="block.previousBlockHash">
          <color-field
            :color="picker.blockHash()"
            :value="block.previousBlockHash">
          </color-field>
        </block-link>
      </labeled-value>
      
      <labeled-value label="Merkle root">
        <color-field
          :value="block.merkleRoot"
          :color="picker.blockMerkleRoot()">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Timestamp">
        <color-field
          :value="formatTimestamp(block.timestamp)"
          :color="picker.blockTime()">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Bits">
        <color-field
          :value="block.bits"
          :color="picker.blockBits()">
        </color-field>
      </labeled-value>
      
      <labeled-value label="Nonce">
        <color-field
          :value="block.nonce"
          :color="picker.blockNonce()">
        </color-field>
      </labeled-value>
    </template>

    <loading-heading level="2"
      :loading="context.rawLoading"
      text="Block header in hex">
    </loading-heading>
    <template v-if="raw != null">
      <hex-viewer
        :hex="raw"
        :interpreter="blockInterpreter">
      </hex-viewer>
    </template>

    <loading-heading level="2"
      :loading="context.coinbaseLoading"
      text="Coinbase transaction in hex">
    </loading-heading>
    <template v-if="context.coinbaseHex != null">
      <hex-viewer
        :hex="context.coinbaseHex"
        :interpreter="transactionInterpreter">
      </hex-viewer>
    </template>

    <loading-heading level="2"
      :loading="context.txidsLoading"
      text="Transactions">
    </loading-heading>
    <template v-if="txids != null">
      <transaction-link v-for="String txid in limit(txids)"
        :hash="txid">
        <color-field class="marginBottom"
          :color="picker.transactionHash()"
          :value="txid">
        </color-field>
      </transaction-link>
      
      <p>
        <a href="" @click.prevent="increaseLimit()">Load more...</a>
      </p>
    </template>
  </template>
</div>

<style scoped lang="scss">
.marginBottom {
  margin-bottom: 10px;
}
</style>
