<div>
  <h1>Block</h1>

  <div v-if="block != null">
    <p>Block hash: {{ block.id }}</p>
    <p>Merkle root: {{ block.merkleRoot }}</p>
    <p>
      Previous block:
      <block-link :hash="block.previousBlockHash">{{ block.previousBlockHash }}</block-link>
    </p>

    <p>Tx count: {{ block.txCount }}</p>
  </div>
  <div v-else-if="context.blockLoading">
    Loading block information
  </div>
    
  <div v-if="raw != null">
    <p>Raw: {{ raw }}</p>
  </div>
  <div v-else-if="context.rawLoading">
    Loading raw header
  </div>
    
  <div v-if="txids.length != 0">
    <p>Transactions:</p>
    <p v-for="String txid in limit(txids)">
      <transaction-link :hash="txid">{{ txid }}</transaction-link>
    </p>
    
    <p @click="increaseLimit()">Load more...</p>
  </div>
  <div v-else-if="context.txidsLoading">
    Loading transaction ids
  </div>
</div>

<style scoped lang="scss">
</style>
