<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.BlockInformation"/>
<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionSummary"/>

<div>
  <h1>Landing</h1>
  
  <template v-if="context.pool != null">
    <h2>Mempool</h2>
    
    <labeled-value label="# Transactions">
      <color-field
        :color="picker.blockNumTransactions()"
        :value="context.pool.count">
      </color-field>
    </labeled-value>
    
    <labeled-value label="Virtual size (MB)">
      <color-field
        :color="picker.transactionVSize()"
        :value="formatSizeInMb(context.pool.vsize)">
      </color-field>
    </labeled-value>
    
    <labeled-value label="Total fees">
      <color-field
        :color="picker.transactionOutputAmount()"
        :value="formatAmountWithUnit(context.pool.totalFee)">
      </color-field>
    </labeled-value>
    
    <labeled-value label="Histogram(#)">
      <color-field
        :color="picker.blockHeight()"
        :value="context.pool.feeHistogram.length">
      </color-field>
    </labeled-value>
  </template>
  <template v-else-if="context.mempoolLoading">
    <p>Mempool information is being loaded..</p>
  </template>

  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <h2>Recent blocks</h2>
    <template v-if="context.blocks != null">
      <div v-for="BlockInformation block in context.blocks"
        class="marginBottom">
        <color-field
          :color="picker.blockHeight()"
          :value="block.height">
        </color-field>
        
        <block-link :hash="block.id">
          <color-field
            :color="picker.blockHash()"
            :value="ellipsisHash(block.id)">
          </color-field>
        </block-link>
        
        <color-field
          :color="picker.blockTime()"
          :value="formatTimestamp(block.timestamp)">
        </color-field>
        
        <color-field
          :color="picker.blockWeight()"
          :value="formatSizeInKb(block.weight)">
        </color-field>
        <color-field
          :color="picker.blockSize()"
          :value="formatSizeInKb(block.size)">
        </color-field>
        <color-field
          class="txCount"
          :color="picker.blockNumTransactions()"
          :value="block.txCount">
        </color-field>
      </div>
    </template>
    <template v-else="context.blocksLoading">
      <p>Recent blocks are loading..</p>
    </template>
    
    <h2>Recent transactions</h2>
    <template v-if="context.transactions != null">
      <div v-for="TransactionSummary tx in context.transactions"
        class="marginBottom">
        <transaction-link :hash="tx.txid"
          class="tx">
          <color-field
            :color="picker.transactionHash()"
            :value="tx.txid">
          </color-field>
        </transaction-link>
        
        <color-field
          class="amount"
          :color="picker.transactionOutputAmount()"
          :value="formatAmountWithUnit(tx.value)">
        </color-field>
        
        <color-field
          class="size"
          :color="picker.transactionVSize()"
          :value="formatSizeInVbWithUnit(tx.vsize)">
        </color-field>
        <color-field
          class="fee"
          :color="picker.transactionOutputAmount()"
          :value="formatFee(tx.fee, tx.vsize)">
        </color-field>
      </div>
    </template>
    <template v-else="context.transactionsLoading">
      <p>Recent transactions are loading..</p>
    </template>
  </template>
</div>

<style scoped lang="scss">
.marginBottom {
  margin-bottom: 10px;
}
.txCount {
  width: 40px;
  text-align: center;
}
.tx {
  width: 471px;
  display: inline-block;
}
.amount {
  width: 130px;
  text-align: right;
}
.size {
  width: 55px;
  text-align: center;
}
.fee {
  width: 105px;
  text-align: right;
}
</style>
