<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.BlockInformation"/>
<vue-gwt:import class="nl.yogh.wui.explorer.service.domain.TransactionSummary"/>

<div>
  <h1>Landing</h1>
  
  <a @click.prevent="viewMempool()" href="/mempool">View mempool</a>
  
  <template v-if="context.failure != null">
    <p>Loading failed.</p>
  </template>
  <template v-else>
    <template v-if="context.blocks != null">
      <h2>Recent blocks</h2>
      <div v-for="BlockInformation block in context.blocks"
        class="marginBottom">
        <color-field
          :color="picker.blockHeight()"
          :value="block.height">
        </color-field>
        
        <block-link :hash="block.id">
          <color-field
            :color="picker.blockHash()"
            :value="block.id">
          </color-field>
        </block-link>
        
        <color-field
          :color="picker.blockWeight()"
          :value="block.size">
        </color-field>
        <color-field
          :color="picker.blockSize()"
          :value="block.weight">
        </color-field>
        <color-field
          :color="picker.blockNumTransactions()"
          :value="block.txCount">
        </color-field>
      </div>
    </template>
    <template v-else="context.blocksLoading">
      <p>Recent blocks are loading..</p>
    </template>
    
    <template v-if="context.transactions != null">
      <h2>Recent transactions</h2>
      <div v-for="TransactionSummary tx in context.transactions"
        class="marginBottom">
        <transaction-link :hash="tx.txid">
          <color-field
            :color="picker.transactionHash()"
            :value="tx.txid">
          </color-field>
        </transaction-link>
        
        <color-field
          :color="picker.transactionOutputAmount()"
          :value="tx.value">
        </color-field>
        
        <color-field
          :color="picker.transactionVSize()"
          :value="tx.vsize">
        </color-field>
        <color-field
          :color="picker.transactionOutputAmount()"
          :value="tx.fee">
        </color-field>
      </div>
    </template>
    <template v-else="context.transactionsLoading">
      <p>Recent transactions are loading..</p>
    </template>
  </template>
</div>

<style scoped lang="scss">
.marginBottom {
  margin-bottom: 10px;
}
</style>
